{
    "$schema": "https://swc.rs/schema.json",
    "jsc": {
        "target": "es2022",
        "parser": {
            "syntax": "typescript",
            "tsx": false
        }
    },
    "module": {
        "type": "es6"
    }
}